.plot{
    width: 55%;
    height: 55%;
    margin-left: 20%;
    border-color: "#F5F5F5";
    background-color: "#F5F5F5";
}

.plotInner{
    border-color: "#F5F5F5";
    background-color: "#F5F5F5";
}
