.plot{
    width: 100%;
    height: 100%;
    border-color: "#F5F5F5";
    background-color: "#F5F5F5";
    display: flex;
    flex-direction: column;
    align-items: center;

    .ant-slider{
        width: 50%;
    }
}

.plotInner{
    border-color: "#F5F5F5";
    background-color: "#F5F5F5";
}

.ant-popover{
    pointer-events: none !important;
    & > * {
        pointer-events: none !important;
    }
    &-arrow{
        display: none !important;
    }
}