.ant-space{
  width: 100%;
}


.members-container {
    display: flex;
    justify-content: center;
  }
  
  
  .member-info {
    margin-top: 1rem;
    text-align: center;
    overflow: auto;
  }

  .data {
    margin-top: 4rem;
  }

  h2{
    margin: 0 !important;
  }

  .ant-divider{
    margin: 0 !important;
  }